@font-face {
    font-family: WAG;
    src: url("Hakgyoansim\ Dunggeunmiso\ TTF\ B.ttf");
}

@font-face {
    font-family: NOTO;
    src: url("Paperlogy-4Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgba(254, 254, 32, 0.4);
    color:rgb(129, 72, 18);
}
h1 {
    display: block;
    position: fixed;
    top: 20px;
    right: 40px;
    width: 450px;
    font-family: WAG;
    font-weight: normal;
    font-size: 50px;
    text-align: right;
    /*background-color:black;*/
}
p {
    margin-top: 32px;
}

#box1 {
    display: block;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 50%;
    font-family: NOTO;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -0.5px;
    /*background-color:black;*/
}

#image {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 400px;
}